.content {
    background: white;
    width: 100%;
    height: 500px;
    padding: 20px;
}

.navTabs {
    border-bottom: none!important;
    justify-content: flex-end;

}

.Tabs .active {
    color: red;
    font-weight: bold;
    background-color: none!important;
    border-color: none!important;
}