.heading {
  padding: 20px;
  text-align: left;
  font-size: 40px;
  color: white;
}

.title {
  padding-bottom: 20px;
  text-align: left;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.subtitle {
  text-align: left;
  font-size: 20px;
  color: white;
}

.subtitle_second {
  text-align: left;
  font-size: 20px;
  color: white;
  margin-top: 15px;
}

.logo {
  height: 250px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.slide {
  padding-bottom: 30px;
  cursor: pointer;
}

.slideContent {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  height: 40px;
  cursor: pointer;
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev path,
.next path {
  fill: white;
}

.prev:hover {
  transform: translateX(-10px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.next:hover {
  transform: translateX(10px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev:hover path,
.next:hover path {
  fill: url(#my-cool-gradient) #447799;
  transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}

stop {
  -webkit-animation: colors 12s infinite;
  animation: colors 12s infinite;
}

.stop-2 {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.stop-3 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes colors {
  15% {
    stop-color: crimson;
  }
  30% {
    stop-color: gold;
  }
  45% {
    stop-color: teal;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: orangered;
  }
  90% {
    stop-color: purple;
  }
}

@keyframes colors {
  15% {
    stop-color: crimson;
  }
  30% {
    stop-color: gold;
  }
  45% {
    stop-color: teal;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: orangered;
  }
  90% {
    stop-color: purple;
  }
}

@media (max-width: 575.98px) {
  .slideContent {
    width: unset;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }

  .logo {
    height: 135px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .title {
    padding-bottom: 20px;
    text-align: left;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
  }
  
  .subtitle {
    text-align: left;
    font-size: 16px;
    color: white;
  }
  
  .subtitle_second {
    text-align: left;
    font-size: 16px;
    color: white;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .slideContent {
    width: unset;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }

  .logo {
    height: 100px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 2559.98px) {
  .item img {
    width: 100%;
  }
}
