.bg {
    height: 100vh;
    background: url(../../../assets/images/reactBg.png) no-repeat center center / cover;
}

.back {
    width: 100px;
    height: 100px; 
    background: white;
    position: absolute;
}