.bg {
    width: 100%;
    background: url(../../../assets/images/cssBg.jpg) no-repeat center center / cover;
    height: 100vh;
}

.back {
    width: 100px;
    height: 100px; 
    background: white;
    position: absolute;
}