.item {
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
  position: relative;
  background: #4840ba;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.item:hover .overlay {
  opacity: 0.5;
}

.item:hover .line {
  width: 100%;
}

.item img {
  height: 120px;
  width: 120px;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}

.item:hover img {
  transform: translateY(-10%);
  transition: all 0.3s ease-in-out;
}

.title {
  color: white;
  font-size: 30px;
  font-family: cuprum;
  text-align: left;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.item:hover div {
  transform: translateY(-25%);
  transition: all 0.3s ease-in-out;
}

.icon {
  opacity: 0;
  position: absolute;
  left: 30px;
  bottom: 20px;
  transform: translateX(-80%);
  width: 2em;
  height: 2em;
  transition: all 0.3s ease-in-out;
  top: 50px;
}

.item:hover .icon {
  opacity: 1;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.line {
  height: 5px;
  display: block;
  background: linear-gradient(
    45deg,
    rgba(0, 129, 255, 1) 0%,
    rgb(0, 247, 255) 100%
  );
  bottom: 0px;
  left: 0;
  width: 0%;
  transition: width 0.3s;
  position: absolute;
  z-index: 9;
}

@media (max-width: 575.98px) {
  .item {
    width: 100%;
    margin-bottom: 2%;
  }

  .item img {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .item {
    width: 50%;
  }
}

@media (max-width: 2559.98px) {
}
