.sidebar {
  
  background: #002eaf;
}

.menu {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  
}

.logo {
  width: 50px;
}

.down {
  position: absolute;
  bottom: 35vh;
  z-index: 1;
  left: 50%;
  cursor: pointer;
}