.header {
    padding: 20px;
    text-align: left;
    font-size: 40px;
}

.slide {
    width: 100%;
    background: lightblue;
    height: 500px;
}

.prev {
    height: 50px;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev:hover {
    transform: translateX(-10px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.next {
    height: 50px;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.next:hover {
    transform: translateX(10px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}