.lessons {
  padding: 3%;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1170px;
}

.headerTitle {
  text-align: left;
  font-size: 38px;
  color: white;
  font-weight: 900;
}

.divider {
  background: linear-gradient( 45deg, rgba(0, 129, 255, 1) 0%, rgb(0, 247, 255) 100%);
  width: 50px;
  height: 5px;
  border-radius: 5px;
  margin: 10px 0 40px;
}

@media (max-width: 575.98px) {
  .flexWrap {
    padding: 0 2%;
  }
}