.lessons {
  padding: 3%;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1170px;
}

.headerTitle {
  text-align: left;
  font-size: 38px;
  color: white;
  font-weight: 900;
  margin-left: 20px;
}

.divider {
  background: linear-gradient( 45deg, #368a08 0%, #7bff53 100%);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: -25px 0 40px;
  animation: blink 2.0s linear infinite;
}

@keyframes blink {
  0% { box-shadow: 0px 3px 35px #7bff53; }
  50% { box-shadow: none; }
  100% { box-shadow: 0px 3px 35px #7bff53; }
}

@media (max-width: 575.98px) {
}