.bg {
    height: 100vh;
    margin-left: 320px;
}

.back {
    width: 100px;
    height: 100px; 
    background: white;
    position: absolute;
}

.hiddenMenu {
    position: absolute;
    left: 320px;
  }