.technology {
  padding: 3% 0;
  background: #3c328a;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 2%;
}

.headerTitle {
  text-align: left;
  font-size: 38px;
  color: white;
  font-weight: 900;
  margin-left: 20px;
}

.divider {
  background: linear-gradient( 45deg, #0081ff 0%, rgb(255, 59, 212) 100%);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: -25px 0 40px;
  animation: blink 2.0s linear infinite;
}

@keyframes blink {
  0% { box-shadow: 0px 3px 35px #0081ff; }
  50% { box-shadow: none; }
  100% { box-shadow: 0px 3px 35px #0081ff; }
}

.headerSubtitle {
  text-align: center;
  color: #00f1ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.title {
  padding-bottom: 20px;
  text-align: left;
  font-size: 30px;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.title span {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.subtitle {
  text-align: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.subtitle_second {
  text-align: left;
  color: white;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.subtitle span,
.subtitle_second span {
  font-weight: 900;
  text-transform: uppercase;
}

.logo {
  height: 250px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.slide {
  cursor: pointer;
}

.slideContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  height: 40px;
  cursor: pointer;
  transform: translateX(0px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev path,
.next path {
  fill: white;
}

.prev:hover {
  transform: translateX(-10px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.next:hover {
  transform: translateX(10px);
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev:hover path,
.next:hover path {
  fill: url(#my-cool-gradient) #447799;
  transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}



@media (max-width: 575.98px) {

  .slideContent {
    width: unset;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }

  .logo {
    height: 135px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .title {
    padding-bottom: 20px;
    text-align: left;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
  }
  
  .subtitle {
    text-align: left;
    font-size: 16px;
    color: white;
  }
  
  .subtitle_second {
    text-align: left;
    font-size: 16px;
    color: white;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .slideContent {
    width: unset;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }

  .logo {
    height: 100px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 2559.98px) {
  .item img {
    width: 100%;
  }
}

