.sidebar {
  
  background: #002eaf;
}

.menu {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}








.logo {
  width: 50px;
}

/* item {
  border: 3px solid white;
  height: 100px;
  width: 200px;
} */


.dflex {
  display: flex;
  align-items: center;
}

.jcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jca {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
