item {
    border: 3px solid white;
    height: 100px;
    width: 300px;
}


.title {
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: cuprum;
    margin: -15px 0 20px 20px;
  }