.App {
  text-align: center;
}

.item {
  color: white;
  font-size: 40px;
  font-family: cuprum;
  text-align: left;
  margin-left: 15px;
  cursor: pointer;
}

.item:hover {
  color: lightblue;
}

.sidebar {
  background: #243743;
  width: 320px;
}

.close {
  cursor: pointer;
}

.close path {
  fill: white;
}

.menu {
  height: 40px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  background: azure;
  padding: 5px 10px;
  border-radius: 10px;
}

.menu path {
  fill: url(#my-cool-gradient) #447799;
}

stop {
  -webkit-animation: colors 12s infinite;
  animation: colors 12s infinite;
}

.stop-2 {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.stop-3 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes colors {
  15% {
    stop-color: crimson;
  }
  30% {
    stop-color: gold;
  }
  45% {
    stop-color: teal;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: orangered;
  }
  90% {
    stop-color: purple;
  }
}

@keyframes colors {
  15% {
    stop-color: crimson;
  }
  30% {
    stop-color: gold;
  }
  45% {
    stop-color: teal;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: orangered;
  }
  90% {
    stop-color: purple;
  }
}
