body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cuprum', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: blink;
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-betveen {
  justify-content: space-between;
} 

.justify-content-end {
  justify-content: flex-end;
} 

.column {
  flex-direction: column;
}

.overline {
  text-decoration: overline;
}

li {
  list-style: none;
}

.m3 {
  margin: 20px;
}

.mr3 {
  margin-right: 20px;
}

.ab {
  background: red;
}



.slick-prev, .slick-next {
  display: none!important;
}